.App {
  display: flex;
  height: 100%;
}

/* 1. I don't recall a flex item's content having a say on its final size. The
 * contents (e.g., when a note title is longer than 35rem wide) seem to push the
 * width greater than 35rem, even with flex-grow: 0.
 */

.App__side {
  flex: 0 1 35rem;
  max-width: 35rem; /* 1 */
}

.App__main {
  flex: 1 1 auto;
}
